<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Events</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-lg-10 col-sm-9><h3>My Events</h3></ion-col>
    <ion-col col-lg-2 col-sm-3><button ion-button (click)="goToCreateEvent()">Create Event</button></ion-col>
  </ion-row>
  <ion-row *ngIf="eventsToShow.length > 0">
    <ion-col col-xs-12 col-lg-4>
      <ion-item>
        <ion-label floating>Filter Events</ion-label>
        <ion-input type="text" [(ngModel)]="filterText" (ngModelChange)="filterEvents($event)"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <br>
  <ion-list>
    <div *ngFor="let event of eventsToShow">
      <event-card [event]="event"></event-card>
    </div>
  </ion-list>
</ion-content>
