<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Event Details</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>

    <div *ngIf="viewMode()">
      <event-card [event]="event" [detailed]="true"></event-card>
      <br>
      <ion-row *ngIf="canEdit()">
        <ion-col col-xs-12 col-sm-4 col-md-2><button ion-button (click)="setEditMode()">Edit</button></ion-col>
      </ion-row>
    </div>

    <div *ngIf="editMode() || createMode()">
      <ion-row align-items-center>
        <ion-col col-12 align-self-center>
          <form>
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Name" [(ngModel)]="edit.name" name="name" (ngModelChange)="setName($event)"required>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput type="textarea" placeholder="Description" [(ngModel)]="edit.description" name="description" (ngModelChange)="setDescription($event)" 
                required>
            </mat-form-field>

            <ion-item class="full-width">
              <ion-label>Date</ion-label>
              <ion-datetime displayFormat="MMM D, YYYY h:m a" [(ngModel)]="edit.date" name="date" (ngModelChange)="setDate($event)" ></ion-datetime>
            </ion-item>
            <br>

            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Address" [(ngModel)]="edit.location" (ngModelChange)="setLocation($event)" name="address" required>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Area" [(ngModel)]="edit.area" name="area" (ngModelChange)="setArea($event)" required>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let tag of edit.tags" [selectable]="selectable" [removable]="removable" (removed)="removeTag(tag)">
                  {{tag}}
                  <mat-icon matChipRemove *ngIf="removable">x</mat-icon>
                </mat-chip>
                <input placeholder="New Tag..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addTag($event)">
              </mat-chip-list>
            </mat-form-field>
          </form>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-xs-12 col-sm-6 col-md-2><button ion-button (click)="submit()">Submit</button></ion-col>
        <ion-col col-xs-12 col-sm-6 col-md-2><button ion-button color="secondary" (click)="setViewMode()">Cancel</button></ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>