<mat-card>
  <mat-card-title>
    <span *ngIf="detailed">{{event.name}}</span>
    <a *ngIf="!detailed" (click)="goToDetails()">{{event.name}}</a>
  </mat-card-title>
  <mat-card-subtitle>
    {{event.date | date: "'MMM d, y h:mm a"}}
  </mat-card-subtitle>
  <mat-card-content>
    <strong>Description: </strong> {{event.description}}
    <br>
    <br>

    <div *ngIf="detailed">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Organizers
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ion-list *ngFor="let user of event.organizers">
          <ion-item *ngIf="user">{{user.firstName}} {{user.lastName}}, {{user.email}}</ion-item>
        </ion-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Attendees
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ion-list *ngFor="let user of event.attendees">
          <ion-item *ngIf="user">{{user.firstName}} {{user.lastName}}, {{user.email}}</ion-item>
        </ion-list>
      </mat-expansion-panel>
      <br>
      <br>
    </div>
    
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let tag of event.tags" [selectable]="selectable">
        {{tag}}
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <ion-row>
    <ion-col col-xs-12 col-sm-6 col-md-2>
      <!-- <span *ngIf="isAttending()">
          <ion-icon name="checkmark-circle"></ion-icon>
      </span> -->
      <button ion-button (click)="attend()">
        <span *ngIf="!isAttending()">Attend</span>
        <span *ngIf="isAttending()">Not Attending</span>
      </button>
    </ion-col>
    <ion-col col-xs-12 col-sm-6 col-md-2>
      <!-- <span *ngIf="isInterested()">
          <ion-icon name="checkmark-circle"></ion-icon>
      </span> -->
      <button ion-button color="secondary" (click)="like()">
        <span *ngIf="!isInterested()">Interested</span>
        <span *ngIf="isInterested()">Not Interested</span>
      </button>
    </ion-col>
  </ion-row>
</mat-card>