<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-grid>
  <div *ngIf="loginMode()" align-items-center>
    <ion-row>
      <ion-col col-xs-12 col-md-6 col-lg-4 align-self-center>
        <form>
          <mat-form-field class="full-width">
            <input matInput name="email" placeholder="Email" [(ngModel)]="loginData.email" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput name="pass" type="password" placeholder="Password" [(ngModel)]="loginData.password" required>
          </mat-form-field>
        </form>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-xs-12 col-sm-4 col-md-2><button ion-button (click)="login()">Login</button></ion-col>
      <ion-col col-xs-12 col-sm-4 col-md-2><button ion-button color="secondary" (click)="setRegisterMode()">Register</button></ion-col>
    </ion-row>
  </div>
  
  <div *ngIf="registerMode()"  align-items-center>
    <ion-row>
      <ion-col  col-xs-12 col-md-6 col-lg-4  align-self-center>
        <form>
          <mat-form-field class="full-width">
            <input matInput name="email" type="email" placeholder="Email" [(ngModel)]="registrationData.email" required>
          </mat-form-field>
          
          <mat-form-field class="full-width">
            <input matInput name="fname" placeholder="First Name" [(ngModel)]="registrationData.firstName" required>
          </mat-form-field>
          
          <mat-form-field class="full-width">
            <input matInput name="lname" placeholder="Last Name" [(ngModel)]="registrationData.lastName" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput name="regpass" type="password" placeholder="Password" [(ngModel)]="registrationData.password" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput name="regpassconf" type="password" placeholder="Confirm Password" [(ngModel)]="registrationData.passwordConfirmation" required>
          </mat-form-field>
        </form>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col col-xs-12 col-sm-4 col-md-2><button ion-button (click)="register()">Register</button></ion-col>
      <ion-col col-xs-12 col-sm-4 col-md-2><button ion-button color="secondary" (click)="setLoginMode()">Login</button></ion-col>
    </ion-row>
  </div>
</ion-grid>
</ion-content>
